.container7{
    margin-top: 0%;
    left: -50%;
    width: 100%;
    padding: 8px;
}

img{
    float: left;
    width: 300px;
    height: 260px;
    padding: 0 10px 0 0;
}
.text7{
    text-align: justify;
    font-family: Verdana;
}
.container{
    margin: 140px auto;
    width: 100%;
    padding: 8px;
}

img{
    float: left;
    width: 300px;
    height: 260px;
    padding: 0 10px 0 0;
}
.text{
    text-align: justify;
    font-family: Verdana;
}
.container2{
    margin: 200px auto;
    width: 100%;
    padding: 8px;
}

img{
    float: left;
    width: 300px;
    height: 260px;
    padding: 0 10px 0 0;
}
.text2{
    text-align: justify;
    font-family: Verdana;
}
.container3{
    margin: 150px auto;
    margin-top: -7%;
    width: 100%;
    padding: 8px;
}

img{
    float: left;
    width: 300px;
    height: 260px;
    padding: 0 10px 0 0;
}
.text3{
    text-align: justify;
    font-family: Verdana;
}
.container4{
    margin: 180px auto;
    margin-top: -6%;
    width: 100%;
    padding: 8px;
}
img{
    float: left;
    width: 300px;
    height: 260px;
    padding: 0 10px 0 0;
}
.text4{
    text-align: justify;
    font-family: Verdana;
}
.container5{
    margin: 180px auto;
    margin-top: -6%;
    width: 100%;
    padding: 8px;
}
img{
    float: left;
    width: 300px;
    height: 260px;
    padding: 0 10px 0 0;
}
.text5{
    text-align: justify;
    font-family: Verdana;
}
.container6{
    margin: 180px auto;
    width: 100%;
    padding: 8px;
}
img{
    float: left;
    width: 300px;
    height: 260px;
    padding: 0 10px 0 0;
}
.text6{
    text-align: justify;
    font-family: Verdana;
}
